<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjh.cms.system.mapper.RoleMapper">

    <!---->

    <delete id="deleteRolePermissionByRid">
        delete from sys_role_permission where rid=#{id}
    </delete>

    <delete id="deleteRoleUserByRid">
        delete from sys_role_user where rid=#{id}
    </delete>

    <select id="queryRolePermissionIdsByRid" resultType="java.lang.Integer">
        select pid from sys_role_permission where rid=#{id}
    </select>
</mapper>
